Repository MTES-MCT/monitorfish, pull requests merged in 2024-01, with the labels that each got.

#2814 [Tech] MAJ de Flyway
  backend/build.gradle.kts
  backend/src/main/kotlin/fr/gouv/cnsp/monitorfish/infrastructure/database/entities/PnoAndLanAlertEntity.kt
  backend/src/main/kotlin/fr/gouv/cnsp/monitorfish/infrastructure/database/entities/RuleEntity.kt
Labels: dependencies

#2834 [Unités] Copie des fixs et améliorations Env
  frontend/cypress/e2e/main_window/control_unit_list_dialog/filters.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/ControlUnit/components/ControlUnitDialog/ControlUnitResourceList/Placeholder.tsx
  frontend/src/features/ControlUnit/components/ControlUnitDialog/ControlUnitResourceList/utils.tsx
  frontend/src/features/ControlUnit/components/ControlUnitDialog/index.tsx
  frontend/src/features/ControlUnit/components/ControlUnitListDialog/FilterBar.tsx
  frontend/src/features/ControlUnit/components/ControlUnitListDialog/types.ts
  frontend/src/features/ControlUnit/components/ControlUnitListDialog/utils.ts
  frontend/src/features/Station/components/StationLayer/index.ts
  frontend/src/features/Station/components/StationLayer/utils.ts
Labels: bug, feat. enhancement, dev

#2821 [Tech] Ajout de la méthode OPTIONS dans les méthodes autorisées
  backend/src/main/kotlin/fr/gouv/cnsp/monitorfish/config/SecurityConfig.kt
Labels: security
