Repository MTES-MCT/monitorfish, pull requests merged in 2024-06, with the labels that each got.

#3276 [Tech] Mise-à-jour de Puppeteer
  frontend/package-lock.json
  frontend/package.json
  frontend/puppeteer/setup.ts
Labels: dependencies

#3285 Préavis - Téléchargement de l'autorisation de débarquement
  frontend/package-lock.json
  frontend/package.json
  frontend/public/flags/unknown.png
  frontend/public/logo_cnsp.jpg
  frontend/src/components/CountryFlag/utils.ts
  frontend/src/features/Logbook/LogbookMessage.types.ts
  frontend/src/features/PriorNotification/components/PriorNotificationCard/__tests__/getHtmlContent.test.ts
  frontend/src/features/PriorNotification/components/PriorNotificationCard/index.tsx
  frontend/src/features/PriorNotification/components/PriorNotificationCard/template.ts
  frontend/src/features/PriorNotification/components/PriorNotificationCard/types.ts
  frontend/src/features/PriorNotification/components/PriorNotificationCard/utils.tsx
Labels: feat. enhancement

#3316 [Préavis] – Optimise la vitesse de chargement d'ouverture d'une fiche
  backend/src/main/kotlin/fr/gouv/cnsp/monitorfish/domain/use_cases/prior_notification/CreateOrUpdateManualPriorNotification.kt
  backend/src/main/kotlin/fr/gouv/cnsp/monitorfish/domain/use_cases/prior_notification/GetPriorNotification.kt
  backend/src/main/kotlin/fr/gouv/cnsp/monitorfish/domain/use_cases/prior_notification/VerifyAndSendPriorNotification.kt
  backend/src/main/kotlin/fr/gouv/cnsp/monitorfish/infrastructure/api/bff/PriorNotificationController.kt
  backend/src/main/resources/db/migration/internal/V0.259__Index_logbook_reports_report_id_column.sql
  backend/src/test/kotlin/fr/gouv/cnsp/monitorfish/domain/use_cases/prior_notification/CreateOrUpdateManualPriorNotificationUTests.kt
  backend/src/test/kotlin/fr/gouv/cnsp/monitorfish/domain/use_cases/prior_notification/GetPriorNotificationUTests.kt
  backend/src/test/kotlin/fr/gouv/cnsp/monitorfish/domain/use_cases/prior_notification/VerifyAndSendPriorNotificationUTests.kt
  backend/src/test/kotlin/fr/gouv/cnsp/monitorfish/infrastructure/api/bff/PriorNotificationControllerITests.kt
  frontend/cypress/e2e/side_window/prior_notification_card/card.spec.ts
  frontend/cypress/e2e/side_window/prior_notification_card/error_handling.spec.ts
  frontend/cypress/e2e/side_window/prior_notification_form/form.spec.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/commands/countRequestsByAlias.ts
  frontend/cypress/support/e2e.ts
  frontend/src/features/PriorNotification/components/PriorNotificationForm/index.tsx
  frontend/src/features/PriorNotification/components/PriorNotificationList/Row.tsx
  frontend/src/features/PriorNotification/components/PriorNotificationList/cells/ActionButtonsCell.tsx
  frontend/src/features/PriorNotification/priorNotificationApi.ts
  frontend/src/features/PriorNotification/useCases/createOrUpdatePriorNotification.ts
  frontend/src/features/PriorNotification/useCases/openPriorNotificationCard.ts
  frontend/src/features/PriorNotification/useCases/openPriorNotificationForm.ts
  frontend/src/features/PriorNotification/useCases/verifyAndSendPriorNotification.ts
Labels: feat. enhancement

#3329 [Préavis] Créer un quick fix pour corriger les largeurs et le scroll du tableau dans la liste
  frontend/src/components/CustomGlobalStyle.ts
  frontend/src/features/PriorNotification/components/PriorNotificationList/TableBodyLoader.tsx
  frontend/src/features/PriorNotification/components/PriorNotificationList/columns.tsx
  frontend/src/features/PriorNotification/components/PriorNotificationList/index.tsx
  frontend/src/features/SideWindow/index.tsx
  frontend/src/utils/isLegacyFirefox.ts
Labels: bug

#3331 [Préavis] Finalise et fixe plusieurs bugs liés au formulaire des préavis manuels
  frontend/cypress/e2e/side_window/prior_notification_form/form.spec.ts
  frontend/src/features/PriorNotification/components/PriorNotificationForm/Card.tsx
  frontend/src/features/PriorNotification/components/PriorNotificationForm/Form.tsx
  frontend/src/features/PriorNotification/components/PriorNotificationForm/fields/FormikFishingCatchesMultiSelect/index.tsx
  frontend/src/features/PriorNotification/components/PriorNotificationForm/index.tsx
  frontend/src/features/PriorNotification/components/PriorNotificationList/FilterBar.tsx
  frontend/src/features/PriorNotification/components/PriorNotificationList/FilterTags.tsx
  frontend/src/features/PriorNotification/slice.ts
  frontend/src/features/PriorNotification/useCases/openPriorNotificationForm.ts
  frontend/src/features/PriorNotification/utils.ts
  frontend/src/features/Vessel/components/VesselRiskFactor.tsx
  frontend/src/hooks/useGetSpeciesAsOptions.ts
  frontend/src/store/reducers.ts
Labels: bug, feat. enhancement
