Repository MTES-MCT/monitorfish, pull requests merged in 2024-11, with the labels that each got.

#3847 [Tech] Migre cypress-plugin-snapshots vers le repo hébergé MTES-MCT
  frontend/package-lock.json
  frontend/package.json
Labels: tech. enhancement

#3834 Mise à jour de la fréquence de déclenchement des alertes de DEP manquant pour éviter les fausses alertes
  datascience/src/pipeline/flows_config.py
Labels: bug, data

#3862 Résolution du problème de connexion à la base FMC (balises, opérateurs satellite...)
  datascience/.env.template
  datascience/.env.test
  datascience/src/db_config.py
Labels: bug, data

#3865 Correction du `type` d'alerte pour les alertes de suspicion de sous-déclaration
  datascience/src/pipeline/entities/alerts.py
  datascience/src/pipeline/flows/suspicions_of_under_declaration_alerts.py
  datascience/tests/test_pipeline/test_flows/test_suspicions_of_under_declaration_alerts.py
Labels: bug, data

#3871 Mise à jour de dépendances
  datascience/poetry.lock
  datascience/pyproject.toml
  datascience/src/pipeline/emails/templates/beacon_malfunctions/base_template.jinja
  datascience/tests/test_data/emails/END_OF_MALFUNCTION.html
  datascience/tests/test_data/emails/END_OF_MALFUNCTION.pdf
  datascience/tests/test_data/emails/MALFUNCTION_AT_PORT_INITIAL_NOTIFICATION.html
  datascience/tests/test_data/emails/MALFUNCTION_AT_PORT_INITIAL_NOTIFICATION.pdf
  datascience/tests/test_data/emails/MALFUNCTION_AT_PORT_INITIAL_NOTIFICATION_UNSUPERVISED_BEACON.html
  datascience/tests/test_data/emails/MALFUNCTION_AT_PORT_INITIAL_NOTIFICATION_UNSUPERVISED_BEACON.pdf
  datascience/tests/test_data/emails/MALFUNCTION_AT_PORT_REMINDER.html
  datascience/tests/test_data/emails/MALFUNCTION_AT_PORT_REMINDER.pdf
  datascience/tests/test_data/emails/MALFUNCTION_AT_SEA_INITIAL_NOTIFICATION.html
  datascience/tests/test_data/emails/MALFUNCTION_AT_SEA_INITIAL_NOTIFICATION.pdf
  datascience/tests/test_data/emails/MALFUNCTION_AT_SEA_INITIAL_NOTIFICATION_UNSUPERVISED_BEACON.html
  datascience/tests/test_data/emails/MALFUNCTION_AT_SEA_INITIAL_NOTIFICATION_UNSUPERVISED_BEACON.pdf
  datascience/tests/test_data/emails/MALFUNCTION_AT_SEA_INITIAL_NOTIFICATION_WITH_NULLS.html
  datascience/tests/test_data/emails/MALFUNCTION_AT_SEA_REMINDER.html
  datascience/tests/test_data/emails/MALFUNCTION_AT_SEA_REMINDER.pdf
  datascience/tests/test_data/emails/MALFUNCTION_NOTIFICATION_TO_FOREIGN_FMC.html
  datascience/tests/test_data/emails/MALFUNCTION_NOTIFICATION_TO_FOREIGN_FMC.pdf
  datascience/tests/test_data/emails/email_actions_to_units/expected_rendered_email.html
Labels: dependencies

#3885 Ajouter le nom du navire dans les SMS d'avarie VMS
  datascience/src/pipeline/flows/notify_beacon_malfunctions.py
  datascience/src/pipeline/sms/end_of_malfunction.jinja
  datascience/src/pipeline/sms/malfunction_at_port_initial_notification.jinja
  datascience/src/pipeline/sms/malfunction_at_port_reminder.jinja
  datascience/src/pipeline/sms/malfunction_at_sea_initial_notification.jinja
  datascience/src/pipeline/sms/malfunction_at_sea_reminder.jinja
  datascience/src/pipeline/sms/malfunction_initial_notification_unsupervised_beacon.jinja
  datascience/tests/test_data/sms/END_OF_MALFUNCTION.txt
  datascience/tests/test_data/sms/MALFUNCTION_AT_PORT_INITIAL_NOTIFICATION.txt
  datascience/tests/test_data/sms/MALFUNCTION_AT_PORT_REMINDER.txt
  datascience/tests/test_data/sms/MALFUNCTION_AT_SEA_INITIAL_NOTIFICATION.txt
  datascience/tests/test_data/sms/MALFUNCTION_AT_SEA_REMINDER.txt
Labels: feat. enhancement, data

#3883 Récupération des données navires pour les navires sans CFR
  datascience/src/pipeline/queries/monitorfish/compute_last_positions.sql
Labels: bug, data

#3880 Réduire le délai de déclenchement des avaries VMS en mer de 6h à 4h sans émission
  datascience/config.py
Labels: feat. enhancement, data

#3877 Ajout d'infos complémentaires sur les permis de navigation
  backend/src/main/kotlin/fr/gouv/cnsp/monitorfish/domain/entities/vessel/Vessel.kt
  backend/src/main/kotlin/fr/gouv/cnsp/monitorfish/infrastructure/api/light/outputs/VesselDataOutput.kt
  backend/src/main/kotlin/fr/gouv/cnsp/monitorfish/infrastructure/api/outputs/VesselDataOutput.kt
  backend/src/main/kotlin/fr/gouv/cnsp/monitorfish/infrastructure/database/entities/VesselEntity.kt
  backend/src/main/resources/db/migration/internal/V0.283__Update_vessels_table.sql
  backend/src/main/resources/db/testdata/V666.2__Insert_dummy_vessels.sql
  backend/src/main/resources/db/testdata/json/V666.2__Insert_dummy_vessels.jsonc
  datascience/src/pipeline/flows/vessels.py
  datascience/src/pipeline/queries/ocan/french_vessels_navigation_licences.sql
  datascience/tests/test_pipeline/test_flows/test_vessels.py
  frontend/cypress/e2e/main_window/vessel_sidebar/identity.spec.ts
  frontend/src/features/Vessel/Vessel.types.ts
  frontend/src/features/Vessel/components/VesselSidebar/Equipment/resume/EquipmentResume.tsx
  frontend/src/features/Vessel/components/VesselSidebar/Identity.tsx
  frontend/src/features/Vessel/components/VesselSidebar/Summary.tsx
  frontend/src/features/Vessel/components/VesselSidebar/common/FlatKeyValue.tsx
  frontend/src/features/Vessel/components/VesselSidebar/common/FlatTwoColumnKeyValue.tsx
Labels: feat. enhancement, data, design, dev

#3897 Tech - Corrrection d'un test cypress avec une date
  frontend/cypress/e2e/main_window/vessel_sidebar/identity.spec.ts
Labels: bug

#3886 Récupérer toutes les balises de Poséidon, pas uniquement celles qui sont associées à un navire à l'instant T
  backend/src/main/resources/db/migration/internal/V0.284__Update_beacons_table.sql
  datascience/src/pipeline/queries/fmc/beacons.sql
  datascience/tests/test_pipeline/test_flows/test_beacons.py
Labels: feat. enhancement, data

#3873 Extraire les poids nets (et non vifs) des LAN au format FLUX
  datascience/src/pipeline/parsers/flux/childless_parsers.py
  datascience/src/pipeline/parsers/flux/log_parsers.py
  datascience/tests/test_pipeline/test_parsers/test_flux.py
Labels: bug, data

#3838 Prise en compte de la couche `NOAA` pour marquer les positions `au port`
  datascience/src/pipeline/flows/enrich_positions.py
  datascience/src/pipeline/queries/monitorfish/all_positions.sql
  datascience/tests/test_pipeline/test_flows/test_enrich_positions.py
Labels: feat. enhancement, data

#3903 En cas de PNO avec infos navire incomplètes (nom navire...), prendre les infos du référentiel navire
  datascience/src/pipeline/queries/monitorfish/pnos_to_generate.sql
Labels: feat. enhancement, data

#3909 Ajout d'infos détaillées par calibre dans les SMS et emails de préavis thon rouge
  datascience/src/pipeline/emails/templates/prior_notifications/email_body_template.jinja
  datascience/src/pipeline/entities/pnos.py
  datascience/src/pipeline/flows/distribute_pnos.py
  datascience/src/pipeline/sms/prior_notification.jinja
  datascience/tests/test_data/emails/prior_notifications/expected_email_body_1.html
  datascience/tests/test_data/emails/prior_notifications/expected_sms_1.txt
  datascience/tests/test_pipeline/test_flows/test_distribute_pnos.py
Labels: feat. enhancement, data

#3895 Diffusion des préavis à des destinataires hors unités
  backend/src/main/resources/db/migration/internal/V0.285__Create_pno_extra_subscriptions_table.sql
  datascience/src/pipeline/entities/pnos.py
  datascience/src/pipeline/flows/distribute_pnos.py
  datascience/src/pipeline/queries/monitorfish/pno_extra_subscriptions.sql
  datascience/tests/test_data/remote_database/V666.41__Reset_test_pno_extra_subscriptions.sql
  datascience/tests/test_pipeline/test_entities/test_pnos.py
  datascience/tests/test_pipeline/test_flows/test_distribute_pnos.py
  datascience/tests/test_pipeline/test_flows/test_regulations_checkup.py
Labels: new feature
