Repository MTES-MCT/monitorfish, pull requests merged in 2025-01, with the labels that each got.

#4002 Ajout d'un en-tête manquant de `Date` aux emails générés par la pipeline (résolution de certains emails non reçus)
  datascience/src/pipeline/helpers/emails.py
  datascience/tests/test_pipeline/test_helpers/test_emails.py
Labels: bug

#4005 Prendre en compte les exemptions JPE dans les alertes de FAR manquant
  datascience/src/pipeline/flows/missing_far_alerts.py
  datascience/tests/test_pipeline/test_flows/test_missing_far_alerts.py
Labels: feat. enhancement, data

#4007 Stopper la génération d'alertes de DEP manquant pendant les pannes JPE
  datascience/src/pipeline/flows/missing_dep_alerts.py
  datascience/src/pipeline/shared_tasks/healthcheck.py
  datascience/tests/test_pipeline/test_flows/test_missing_dep_alerts.py
  datascience/tests/test_pipeline/test_shared_tasks/test_healthcheck.py
Labels: feat. enhancement, data

#4014 Tech - Ajout de l'environnement dans `sentry` (UPDATE ENV VAR)
  backend/src/main/kotlin/fr/gouv/cnsp/monitorfish/MonitorFishApplication.kt
  infra/remote/docker-compose.yml
Labels: tech. enhancement

#4017 Mission - Pouvoir zoomer sur les bases d'une unité depuis la fiche Mission
  frontend/cypress/e2e/side_window/mission_form/main_form.spec.ts
  frontend/src/features/ControlUnit/components/ControlUnitListDialog/Item.tsx
  frontend/src/features/ControlUnit/useCases/centerOnStation.ts
  frontend/src/features/Mission/components/MissionForm/MainForm/FormikMultiControlUnitPicker/ControlUnitSelect.tsx
  frontend/src/features/Mission/components/MissionForm/MainForm/FormikMultiControlUnitPicker/index.tsx
Labels: feat. enhancement

#4047 Corriger l'attribution de segments dans le cas d'espèces cibles avec 0kg
  datascience/src/pipeline/helpers/segments.py
  datascience/tests/test_data/csv/catches.csv
  datascience/tests/test_data/csv/segments.csv
Labels: feat. enhancement, data
